flask
flask-cors
redis
kafka-python
mysql-connector-python
werkzeug
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-redis
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk-extension-otproto 